<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="success" class="alert alert-success" style="visibility: hidden;" role="alert">
        <strong>Success!</stron>
        <button type="button" onclick="closeAlert('success')" class="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div id="failed" class="alert alert-danger" style="display:none" role="alert">
        <strong>Failed!</strong>
        <button type="button" onclick="closeAlert('failed')" class="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <h1>Service Now</h1>
    <br/>

    <% configs.forEach(function(config){ %>
        <button type="button" class="btn btn-primary" onclick="fetchRawData('<%=config.name%>')">Get Data <%=config.name%></button>
        <a class="btn btn-primary" href="/<%=config.name%>" role="button"><%=config.name%> Listings</a>
        <a class="btn btn-primary" href="/search/<%=config.name%>?id=1" role="button"><%=config.name%> Search</a>
        <a class="btn btn-primary" href="/legendary/<%=config.name%>" role="button"><%=config.name%> Legendary Listings</a>
        <br/>
        <br/>
    <% }) %>

</body>

<script>
    function showAlert(alertId) {
        document.getElementById(alertId).style.visibility = 'visible';
    }

    function closeAlert(alertId) {
        document.getElementById(alertId).style.visibility = 'hidden';
    }

    function fetchRawData(type) {
        console.log(type);
        fetch(`/get_data?nft=${type}`)
            .then(response => response.json())
            .then(data => {
                if (data.status == 'success') {
                    showAlert('success');
                } else {
                    showAlert('failed');
                }
            });
    }
    </script>

</html>