<div class="card" style="width: 18rem;">
  <a href="<%= img %>">Picture</a>
  <p><%= img %></p>
  <div class="card-body">
    <h5 class="card-title"><%= name %></h5>
    <p class="card-text">Rank <%= rank %></p>
    <% if (type == 0) {%>
      <a href="<%= openseaLink %>" class="btn btn-Danger"><%= buyButtonText %></a>
    <% } else if (type == 1) { %>
      <a href="<%= openseaLink %>" class="btn btn-Primary"><%= buyButtonText %></a>
    <% } else { %>
      <a href="<%= openseaLink %>" class="btn btn-Success"><%= buyButtonText %></a>
    <% } %>
  </div>
</div>