<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>

    <ul class="nav">
        <li class="nav-item">
            <%=progress%>/<%=total%>
        </li>
    </ul>
      

    <div class="container">
        <% rows.forEach(function(row){ %>
            <div class="row">
                <% row.forEach(function(item) { %>
                    <div class="col">
                        <%- include('item', item) -%>
                    </div>
                <% }) %>
            </div>
        <% }) %>
    </div>

    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="<%=previousLink%>">Previous</a></li>
              <li class="page-item"><a class="page-link" href="<%=nextLink%>">Next</a></li>
            </ul>
        </nav>
    </div>

</body>